{% extends "blog/base.html" %} {% block content %} 
{% for post in posts %}
    <div class="post block">
        <h2 class="subtitle">{{post.title}}</h2>
        <small>投稿日時 {{post.posted_date}}</small>
        <p>{{post.intro}}</p>
        <a href="{% url 'post_detail' post.slug %}">もっと読む</a>
        <hr/>
    </div>
{% endfor %}
<h1 class="title">投稿</h1>

<form action="."method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="field">
        <div class="control">
            <button class="button is-danger">投稿をする</button>
        </div>
    </div>
</form>
{%endblock%}
